body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

.app {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input.error {
    border-color: red;
}

.input-feedback {
    color: red;
    height: 5px;
    margin-top: -12px;
}

/* LandingPage Styles */
.landing-page-wrapper {
    width: 100%;
    margin: 0;
}

.fetched-movies {
    width: 85%;
    margin: 1rem auto;
}

.load-more {
    display: flex;
    justify-content: center;
}

#btn {
    background: blue;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-size: 25px;
    font-family: "Cookie", cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn:hover {
    background: tomato;
}

/* MainImage Styles */
.main-image-wrapper {
    height: 500px;
    background-size: 100% cover;
    background-position: center center;
    width: 100%;
    position: relative;
}

.main-image-info {
    position: absolute;
    max-width: 500px;
    bottom: 2rem;
    margin-left: 2rem;
}

.main-image-info h2 {
    color: white;
}

.main-image-info p {
    color: white;
    font-size: 1rem;
}

/* GridCards Styles */

.grid-container {
    position: relative;
}

.grid-container img {
    width: 100%;
    height: 320px;
}

/* MovieDetail Styles */

.movie-detail {
    width: 85%;
    margin: 1rem auto;
}

.actor-grid {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.favorite-wrapper {
    display: flex;
    justify-content: flex-end;
}
