body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

.app {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input.error {
    border-color: red;
}

.input-feedback {
    color: red;
    height: 5px;
    margin-top: -12px;
}

/* LandingPage Styles */
.landing-page-wrapper {
    width: 100%;
    margin: 0;
}

.fetched-movies {
    width: 85%;
    margin: 1rem auto;
}

.load-more {
    display: flex;
    justify-content: center;
}

#btn {
    background: blue;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-size: 25px;
    font-family: "Cookie", cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn:hover {
    background: tomato;
}

/* MainImage Styles */
.main-image-wrapper {
    height: 500px;
    background-size: 100% cover;
    background-position: center center;
    width: 100%;
    position: relative;
}

.main-image-info {
    position: absolute;
    max-width: 500px;
    bottom: 2rem;
    margin-left: 2rem;
}

.main-image-info h2 {
    color: white;
}

.main-image-info p {
    color: white;
    font-size: 1rem;
}

/* GridCards Styles */

.grid-container {
    position: relative;
}

.grid-container img {
    width: 100%;
    height: 320px;
}

/* MovieDetail Styles */

.movie-detail {
    width: 85%;
    margin: 1rem auto;
}

.actor-grid {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.favorite-wrapper {
    display: flex;
    justify-content: flex-end;
}

/* FavoritePage Styles */

.favorite-wrapper {
    width: 85%;
    margin: 3rem auto;
}

.favorite-box {
    width: 100%;
    font-size: 2rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* NavBar Styles */

@import "~antd/dist/antd.css";

.menu {
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    background-color: white;
}

.menu__logo {
    width: 150px;
    float: left;
}

.menu__logo a {
    display: inline-block;
    font-size: 20px;
    padding: 19px 20px;
}

.menu__container .ant-menu-item {
    padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
    padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
    padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
    border-bottom: none;
}

.menu__container .menu_left {
    float: left;
}

.menu__container .menu_rigth {
    float: right;
}

.menu__mobile-button {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important;
    background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
    padding: 0 !important;
}

.menu_drawer .ant-drawer-header {
    padding: 14px 24px !important;
}

@media (max-width: 767px) {
    .menu__mobile-button {
        display: inline-block !important;
    }

    .menu_left,
    .menu_rigth {
        display: none;
    }

    .menu__logo a {
        margin-left: -20px;
    }

    .menu__container .ant-menu-item,
    .menu__container .ant-menu-submenu-title {
        padding: 1px 20px;
    }

    .menu__logo a {
        padding: 10px 20px;
    }
}

/* App Styles */

.app-div {
    padding-top: 69px;
    min-height: calc(100vh - 80px);
}

/* Footer Styles */

.footer-wrapper {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* LoginPage Style */

.form-error-msg {
    color: #ff0000bf;
    font-size: 0.7rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
}

/* Comments Style */

.comments-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.comment-area {
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}

.single-comment {
    width: 80%;
    margin-left: 40px;
}

.more-comments {
    font-size: 14px;
    margin: 0;
    color: gray;
    cursor: pointer;
}
